@import "~nord/src/lesscss/nord.less";

.spec-evolution-container {
  .item {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: @nord3;

    .log-entry-container {
      display: flex;

      .line-container {
        width: 2em;
        display: flex;
        align-items: flex-end;

        .line {
          width: 0.5em;
        }

        .latest-agreed {
          background: @nord10;
          height: 100%;
        }

        .change-proposal {
          background: @nord7;
          height: 50%;
        }
      }

      .details-container {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
      }

      .centre {
        flex-grow: 1;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }
    }
  }
  
  .item:first-child {
    border-top-style: none;
  }
}