@import "~nord/src/lesscss/nord.less";

.spec-evolution-container {
  .item {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: @nord10;

    .log-item-container {
      display: flex;
    }
  }
  
  .item:first-child {
    border-top-style: none;
  }
}